#canon-keeper-button {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 999999;

    padding: 16px 10px;
    border-radius: 10px;

    background: #222;
    color: white;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    pointer-events: auto;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

#canon-keeper-button:hover {
    opacity: 0.85;
}
