/* ===== CANON KEEPER ===== */

#canon-keeper-modal {
    position: fixed !important;

    top: 180px !important;
    left: 50% !important;

    transform: translateX(-50%) !important;

    width: min(90vw, 760px) !important;
    max-height: calc(100vh - 220px) !important;

    z-index: 999999 !important;

    overflow-y: auto !important;
    overflow-x: hidden !important;

    box-sizing: border-box !important;
}

/* Само содержимое окна */
#canon-keeper-modal > div {
    box-sizing: border-box !important;
}

/* На телефоне */
@media (max-width: 600px) {

    #canon-keeper-modal {
        top: 185px !important;

        width: calc(100vw - 32px) !important;

        max-height: calc(100vh - 205px) !important;

        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}
